.dropdown-menu{
  max-height: 250px; /*Provide height in pixels or in other units as per your layout*/
  overflow-y: auto; /*Provide an auto overflow to diaply scroll*/
}

.card {
  background-color: #EBF5FB;
  margin-bottom: 10px;
}

.col-style1 {
  margin-bottom: 10px;
  font-size: large;
}

.badge-style1 {
  margin-right: 5px;
}

.card-style1 {
  background-color: #EBF5FB;
  margin-bottom: 10px;
}

