<ngx-spinner></ngx-spinner>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div *ngIf="sourceImage">
            <h1><span class="badge badge-pill badge-primary">Source Image: {{sourceImage}}</span></h1>
            <p><img [src]="imageBase64" width="360" height="480"></p>
            <button class="btn btn-success" id="analyze" (click)="analyzeImage()">Analyze</button>
          </div>
        </div>
        <div class="float-right">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select Image</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
              <button ngbDropdownItem *ngFor="let image of images" (click)="selectImage(image.key)">{{ image.key }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div *ngIf="targetImages.length > 0 && isLoaded">
    <div class="card card-style1" *ngFor="let image of targetImages">
      <div class="card-body">
        <div class="col">
          <div class="row">
            <div class="col col-style1">
              Score:&nbsp;<span class="badge badge-info badge-style1">{{image.score}}</span><br/>
              Normalized Score:&nbsp;<span class="badge badge-success">{{image.normalizedScore}}</span>
            </div>
          </div>
          <p><img [src]="image.data" width="240" height="320"></p>
      </div>
    </div>
  </div>
</div>
